h1, h2 {
    font-family: 'Potta One', cursive;
    color: gold;
}

.carousel-caption {
    font-family: 'Potta One', cursive;
    color: gold;
    border: solid black;
    background-color: gray;
}

header {
    background-image: linear-gradient(to bottom, lightskyblue,blue,darkblue,black);
}

.logo {
    width: 4rem;
}

body{
    background-image: url(/images/weights.jfif);
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel{
     margin: 10px; 
}

.trainer {
    display: block;
    height: 500px;
    width: 100%;
}

.form {
    display: block;
    height: 500px;
    width: 100%;
}

.nutrition {
    display: block;
    height: 500px;
    width: 100%;
}

.card {
    width: 40%;
    background-color: black;
    font-family: 'Potta One', cursive;
    color: gold;
    margin: 6px;
}

.card-img-top {
    width: 30%;
}

footer {
    background-image: linear-gradient(to bottom, black, darkblue, blue, lightskyblue);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 4rem;
}

.social{
    margin: 20px;
}

.bi{
    margin:5px;
}

.bi-instagram {
    color: magenta
}

.bi-facebook {
    color: white;
}

.bi-twitter {
    color: mediumturquoise;
}

.bi-google {
    color: red;
}