h1, h2 {
    font-family: 'Potta One', cursive;
    color: gold;
}

header {
    background-image: linear-gradient(to bottom, lightskyblue,blue,darkblue,black);
}



footer {
    background-image: linear-gradient(to bottom, black, darkblue, blue, lightskyblue);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 4rem;
}